$SUCCESS: green;
$WARNING: orange;
$ERROR: red;
$TEXT: white;

.toast-container {
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: $SUCCESS;
  color: $TEXT;
}

.toast-body {
  padding: 1rem;
  white-space: nowrap;
}

.toast-text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.toast-heading {
  font-weight: bold;
}

.toast-subheading {
  font-weight: bold;
  font-size: 0.8rem;
}

.toast-message {
  font-size: 0.8rem;
}
